.etch-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;

  .album {
    max-width: 28rem;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #888888;
    transition: transform 1s;

    &:hover {
      animation: pulse 5s infinite linear;
    }
  }
}

.etch-info {
  color: $primary;
}

.emoji__button {
  border: 0;
  background: none;
  opacity: 0.4;
  border-radius: 50%;
  padding: 0.3rem;
  outline: 0;

  &:hover {
    background-color: $dark-gray;
  }

  &.emoji__button--active {
    opacity:1;
    background: $warning;

  }
}

.title.is-2 {
  color: $warning;
}
