.box {
  background: url(http://65.media.tumblr.com/tumblr_lno4gxQeDI1qfh7bqo1_500.jpg);
  margin: 0 auto;
  height: 338px;
  width: 500px;
  margin-top: 65px;
  box-shadow: 2px 2px 2px #888888;
}

// .title.is-1 {
//    color: $gray;
// }

.checkbox {
  color: $white;
  font-weight: bold;
}

.wrap {
  margin-top: 150px;
}
