.box {
  margin: 0 auto;
  background: url(http://65.media.tumblr.com/tumblr_lno4gxQeDI1qfh7bqo1_500.jpg);
  height: 338px;
  width: 500px;
  margin-top: 65px;
}

.checkbox {
  color: $white;
  font-weight: bold;
}

.wrap {
  margin-top: 150px;
}
