body {
  margin: 0;
  // background: radial-gradient($secondary 50%, $white 50%);
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Quicksand', sans-serif;
}

.memories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
}

.memory {
  flex: 1 25%;
  background: $white;
}

.memory__img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}

.memory__content {
  margin: 1rem 0 2rem;
}
