.leaflet-container {
  height: 30rem;
  width: 70%;
  border-radius: 10px;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
  overflow: hidden;
}

.map {
  display: flex;
  justify-content: center;
}

.map-button {
display: flex;
justify-content: center;
margin-top: 1rem;
}
