.etch-memories {
  padding: 2rem 0;
  width: 0.8rem;
  border-radius: 1rem;
  background: $warning;
  min-height: 40rem;
  margin: auto;

  .shit {
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }

  &__item {
    // border-top: 4px solid $gray;
    position: relative;
    margin-bottom: 5rem;
    transform: translateX(-96%);
    width: 35rem;

    .record {
      max-width: 11rem;
      margin: 0;
      margin-left: calc(100% - 14rem);
    }

    &:nth-of-type(odd) {
      transform: translateX(-2%);

      .record {
        margin-left: 3rem;
      }

      .etch-memories__item-content {
        left: auto;
        right: 100%;
        text-align: right;
      }
    }
  }

  > * + * {
    margin-top: 2rem;
  }

  &__pic {
    position: relative;

  }

  &__item-content {
    position: absolute;
    width: 100%;

    top: 0;
    left: 100%;
    margin: 0 1rem;
  }

}
