.image {
  // position: relative;
  // display: block;
  max-width: 8rem;
  // overflow: hidden;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #888888;
}

// .media {
//   align-items: center;
//   flex-direction: column-reverse;
//   // text-align: right;
// }
//
// .media-content {
//   align-items: stretch;
// }
//
// .etch-memories {
//   flex-direction: column-reverse;
// }
