.profile-page {
  > * + * {
    margin-top: 4rem;
  }
}

.profile {
  // flex: 1 500px;
  text-align: center;
}

.info {
  color: $primary;
  font-size: 1rem;
  // margin: 0 auto;
  text-align: right;
  padding: 3rem;
}

.upload__btn {
  margin: 1rem;

  border-radius: $primary;
  // height: 2rem;
  color: white;
  background: $warning;
  border-color: transparent;
}

.profile__pic {
  margin-bottom: 2rem;
}

.profile__content {
  text-align: center;
}

.recent-memory__trackname {
  display: flex;
  justify-content: center;
}

.control.center-buttons {
  display: flex;
  justify-content: center;
}

.all-memories__button {
  // margin-top: 4rem;
  display: flex;
  justify-content: center;
}
