.box-signup {
  margin: 0 auto;
  padding: 1rem;
  max-width: 100%;
  height: auto;
  background-image: url(http://67.media.tumblr.com/676517ff93cbdafc35497eeceb2b96da/tumblr_ncghjfDPSW1tmjqrdo1_500.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

  // margin-top: 65px;
  box-shadow: 2px 2px 2px #888888
}

.wrap-signup {
    margin: 150px;

}

.input {

}
