.box-signup {
  background: url(http://oldtimewallpapers.com/wallpapers/201307/4c515447b4d0233b29194bb291f98755_medium.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 354px;
  width: 500px;
  margin-top: 65px;


  box-shadow: 2px 2px 2px #888888;

}

.wrap-signup {
  font-weight: normal;
  flex: auto;
  max-width: 75%;


}
