{{outlet}}

<div class="memories">

  <div class="memory">
    <div class="record record--with-center">
      <img class="record__pic" src="http://www.comparevinyl.com/assets/blank_record-88f526f5bf343a5eba24e53c62acfe85.png"/>
    </div>
  </div>

  <div class="memory">
    <div class="record record--with-center">
      <img class="record__pic" src="http://www.comparevinyl.com/assets/blank_record-88f526f5bf343a5eba24e53c62acfe85.png"/>
    </div>
  </div>

  <div class="memory">
    <div class="record record--with-center">
      <img class="record__pic" src="http://www.comparevinyl.com/assets/blank_record-88f526f5bf343a5eba24e53c62acfe85.png"/>
    </div>
  </div>

  <div class="memory">
    <div class="record record--with-center">
      <img class="record__pic" src="http://www.comparevinyl.com/assets/blank_record-88f526f5bf343a5eba24e53c62acfe85.png"/>
    </div>
  </div>

</div>
