{{outlet}}

<div class="about">
  <h1>What is etch?</h1>
</div>

{{!-- <div class="memories">

  <div class="memory">
    <img class="memory__img" src="http://www.comparevinyl.com/assets/blank_record-88f526f5bf343a5eba24e53c62acfe85.png"/>
  </div>

  <div class="memory">
    <img class="memory__img" src="http://www.comparevinyl.com/assets/blank_record-88f526f5bf343a5eba24e53c62acfe85.png"/>
  </div>

  <div class="memory">
    <img class="memory__img" src="http://www.comparevinyl.com/assets/blank_record-88f526f5bf343a5eba24e53c62acfe85.png"/>
  </div>

  <div class="memory">
    <img class="memory__img" src="http://www.comparevinyl.com/assets/blank_record-88f526f5bf343a5eba24e53c62acfe85.png"/>
  </div>

</div> --}}
