<header class="nav">
  <div class="nav-header">
    {{#side-menu-toggle}}
    <span class="fa fa-bars"></span>
    {{/side-menu-toggle}}
    <h1>
      Etch
    </h1>
  </div>
</header>

{{#side-menu width="40%"}}
  <ul class="side-menu-nav">
    <li>
      {{#side-menu-link-to "index"}}
        My Memories
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "index"}}
        My Friends
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "index"}}
        Etch A Song
      {{/side-menu-link-to}}
    </li>
    <li class="side-menu-nav__divider"></li>
    <li class="logout">
      {{#side-menu-link-to "index"}}
        Logout
      {{/side-menu-link-to}}
    </li>
  </ul>
{{/side-menu}}
{{content-backdrop}}
<div class="page-content">
  <main>
    <div class="container">

      {{outlet}}

    </div>
  </main>

  {{outlet "footer"}}
</div>
