<h1>Etch</h1>

<div class="app">
  <div class="app__s">
    <ul>
      What's popular?
      <li>My Memories</li>
      <li>My Friends</li>
      <li>Etch A Song</li>
      <li class="logout">Logout</li>
    </ul>
  </div>
  <main class="app__m">
    {{outlet}}
  </main>
</div>
