{{ currentUser.user.email }}
<nav class="nav">
  <div class="nav-left">
    <div class="nav-item">
      {{#side-menu-toggle}}
      <span class="fa fa-bars"></span>
      {{/side-menu-toggle}}
    </div>

    <h1 class="nav-item is-brand">
      Etch
    </h1>
  </div>

  <div class="nav-right nav-menu">

    <span class="nav-item">
      <a class="button is-success">Login</a>
      <a class="button is-success">Signup</a>
      <a class="button" >
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
        <span>Tweet</span>
      </a>
    </span>
  </div>

</nav>

{{#side-menu width="20%"}}
  <ul class="side-menu-nav">
    <p class="side--menu-title">Etch</p>
    <li>
      {{#side-menu-link-to "index"}}
        Etch A Memory!
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "index"}}
        My Profile
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "index"}}
        My Memories
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "index"}}
        My Friends
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "index"}}
        Most Popular
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "index"}}
        Memory Map
      {{/side-menu-link-to}}
    </li>
    <li class="side-menu-nav__divider"></li>
    <li class="logout">
      {{#side-menu-link-to "index"}}
        Logout
      {{/side-menu-link-to}}
    </li>
  </ul>


  {{!-- <aside class="menu">
  <p class="menu-label">
    Etch
  </p>
  <ul class="menu-list">
    <li>
      {{#side-menu-link-to "index"}}
      My Memories
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "index"}}
      My Friends
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "index"}}
      Etch A Song
      {{/side-menu-link-to}}
    </li>
    <li class="side-menu-nav__divider"></li>
    <li class="logout">
      {{#side-menu-link-to "index"}}
        Logout
      {{/side-menu-link-to}}
    </li>
  </ul>
</aside> --}}
{{/side-menu}}
{{content-backdrop}}
<div class="page-content">
  <main>
    <div class="container">

      {{outlet}}

    </div>
  </main>

  {{outlet "footer"}}
</div>
