{{outlet}}

<div class="content has-text-centered">
  <h1 class="title is-1">What is etch?</h1>
  <p class="subtitle is-3">A fun, simple app to track how music makes you feel! {{emoji-character "grinning"}}</p>
  <img class="hipsters" src="http://favim.com/media/uploads/images/orig/140227/amor-estilo-fotos-hipster-Favim.com-1422933.jpg" alt="etch">

  {{#link-to "etch" class="button is-warning is-large"}}
    Let's get started!
  {{/link-to}}
</div>
