{{outlet}}

<div class="content has-text-centered">
  <h1>What is etch?</h1>
  <h2>A fun, simple app to track how music makes you feel! {{emoji-character "grinning"}}</h2>
  {{#link-to "etch" class="button is-warning is-large"}}
    Let's get started!
  {{/link-to}}
</div>


<div class="memories">
  {{#each model as | memory |}}
  <div class="memory">
    <div class="record record--with-center">
      <img class="record__pic" src="{{memory.track.album.images.firstObject.url}}"/>
    </div>
  </div>
  {{/each}}
</div>
