{{outlet}}

<div class="content has-text-centered is-large">
  <h1>Most Popular</h1>
  <p>Check out the top 10 most popular songs on etch right now!</p>
</div>

  <div class="popular-memories">

    {{#each model as |track|}}
    <div class="pop-memory">
      <div class="record">
        <img class="record__pic" src="{{track.album.images.firstObject.url}}"/>
      </div>
      <h1 class="content is-large">{{album.name}}{{track.name}}</h1>
    </div>
    {{/each}}

  </div>
