{{!-- {{outlet}}

<h1>A map goes here</h1> --}}

{{#leaflet-map class="leaflet-container" lat=lat lng=lng zoom=zoom}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
{{/leaflet-map}}
