{{outlet}}

<div class="memories">

  {{#each model as |friend|}}
  {{#link-to "admin.friends.profile" friend class="memory"}}
    {{profile-pic user=friend center=true}}
    <p class="has-text-centered subtitle">{{friend.username}}</p>
  {{/link-to}}
  {{/each}}

</div>
