{{outlet}}

<div class="memories">

  {{#each model as |friend|}}
  <div class="memory">
    <div class="record record--with-center">
      {{gravatar-image email=friend.email class="record__pic"}}
    </div>
    <p class="has-text-centered subtitle">{{friend.username}}</p> </div>
  {{/each}}

</div>
