{{outlet}}

<div class="memories">

  {{#each model as |friend|}}
  <div class="memory">
    <div class="record record--with-center">
      {{gravatar-image email=friend.email class="record__pic"}}
    </div>
    <p>{{friend.email}}</p>
  </div>
  {{/each}}

</div>
