{{outlet}}

<div class="box">
  <div class="wrap">
    <label class="label"></label>
    <p class="control has-icon">
      <input class="input is-success" type="text" placeholder="Username">
      <i class="fa fa-user"></i>
    </p>

    <label class="label"></label>
    <p class="control has-icon">
      <input class="input is-success" type="text" placeholder="Password">
      <i class="fa fa-lock"></i>
    </p>

    <p class="control">
      <label class="checkbox">
        <input type="checkbox">
        Remember me
      </label>
    </p>

    <p class="control">
      <button class="button is-warning">Submit</button>
      <button class="button is-warning">Cancel</button>
    </p>
  </div>

</div>
