{{outlet}}

<div class="box">
  {{#simple-form class="wrap" onsubmit=(action "login") as | formValues | }}

    <label class="label"></label>
    <p class="control has-icon">
      {{input value=formValues.email class="input is-success" type="text" placeholder="Email"}}

      <i class="fa fa-envelope"></i>
    </p>

    <label class="label"></label>
    <p class="control has-icon">
      {{input type="password" class="input is-success" value=formValues.password placeholder="Password"}}

      <i class="fa fa-lock"></i>
    </p>

    <p class="control">
      <label class="checkbox">
        <input type="checkbox">
        Remember me {{emoji-character "sunglasses"}}
      </label>
    </p>

    <p class="control">
      <button class="button is-warning">Submit</button>
      <button class="button is-warning">Cancel</button>
    </p>

  {{/simple-form}}
</div>
